Repository boostcampwm-2024/and02_weQuiz, pull requests merged in 2024-11, with the labels that each got.

#16 feat: hilt 의존성 추가
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/kr/boostcamp_2024/course/wequiz/WeQuizApplication.kt
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/MainActivity.kt
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizApp.kt
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  build.gradle.kts
  gradle/libs.versions.toml
Labels: ✨feat, 🧑‍💻Cheonilyeong

#17 feat: firebase 의존성 세팅
  app/.gitignore
  app/build.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
Labels: ➕chore, ✨feat, 🧑‍💻Cheonilyeong

#18 feat: color-theme 적용
  app/build.gradle.kts
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/MainActivity.kt
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizApp.kt
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/theme/Color.kt
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/theme/Theme.kt
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/theme/Type.kt
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/Colors.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/Theme.kt
  gradle/libs.versions.toml
Labels: ✨feat, 🎩moyeongmin

#19 feat: build-logic 적용
  app/build.gradle.kts
  build-logic/.gitignore
  build-logic/build.gradle.kts
  build-logic/gradle.properties
  build-logic/settings.gradle.kts
  build-logic/src/main/java/convention.android.application.gradle.kts
  build-logic/src/main/java/convention.android.compose.gradle.kts
  build-logic/src/main/java/convention.android.feature.gradle.kts
  build-logic/src/main/java/convention.android.hilt.gradle.kts
  build-logic/src/main/java/convention.android.library.gradle.kts
  build-logic/src/main/java/kr/boostcamp_2024/course/build_logic/ComposeAndroid.kt
  build-logic/src/main/java/kr/boostcamp_2024/course/build_logic/Extension.kt
  build-logic/src/main/java/kr/boostcamp_2024/course/build_logic/Firebase.kt
  build-logic/src/main/java/kr/boostcamp_2024/course/build_logic/HiltAndroid.kt
  build-logic/src/main/java/kr/boostcamp_2024/course/build_logic/KotlinAndroid.kt
  core/data/build.gradle.kts
  core/designsystem/build.gradle.kts
  feature/category/build.gradle.kts
  feature/login/build.gradle.kts
  feature/main/build.gradle.kts
  feature/quiz/build.gradle.kts
  feature/study/build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨feat, 👩‍🌾915dbfl

#21 feat: 카테고리 Bottom Navigation 처리
  feature/quiz/src/main/res/drawable/baseline_dehaze_24.xml
  feature/quiz/src/main/res/drawable/rounded_directions_walk_24.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/navigation/DetailScreenRouter.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/navigation/StudyNavigation.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CategoryListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
  feature/study/src/main/res/drawable/baseline_dehaze_24.xml
  feature/study/src/main/res/drawable/rounded_directions_walk_24.xml
Labels: ✨feat, ✈jay200333

#23 feat: 스터디 상세 화면 UI 작업(카테고리)
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizApp.kt
  build-logic/src/main/java/convention.android.feature.gradle.kts
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CategoryItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomIconButton.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomPropertyTab.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomRoundImg.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/DetailStudyTopBar.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/navigation/DetailScreenRouter.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CategoryListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/res/drawable/baseline_account_circle_24.xml
  feature/study/src/main/res/drawable/baseline_add_circle_outline_24.xml
  feature/study/src/main/res/drawable/baseline_arrow_back_24.xml
  feature/study/src/main/res/drawable/baseline_settings_24.xml
  feature/study/src/main/res/drawable/waterfall.jpg
  feature/study/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨feat, ✈jay200333

#25 feat: 스터디 상세 화면 UI 작업(그룹원)
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CategoryItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomIconButton.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomPropertyTab.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/DetailStudyTopBar.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/GroupItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CategoryListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
  feature/study/src/main/res/drawable/baseline_remove_24.xml
  feature/study/src/main/res/values/strings.xml
Labels: ✨feat, ✈jay200333

#29 feat: 메인 화면 UI 작업
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/StudyItem.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/MainScreen.kt
  feature/main/src/main/res/drawable/sample.png
  feature/main/src/main/res/values/strings.xml
Labels: ✨feat, 🧑‍💻Cheonilyeong

#45 feat: 공통 UI 분리
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizBaseDialog.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizChatBubble.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizRoundedImage.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizTextField.kt
  core/designsystem/src/main/res/drawable/img_error.jpg
  core/designsystem/src/main/res/drawable/outline_cancel_24.xml
  core/designsystem/src/main/res/values/strings.xml
Labels: ♻️refactor, ✨feat

#41 feat: 퀴즈 결과 화면 UI 작업
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizResultScreen.kt
  feature/quiz/src/main/res/drawable/sample_profile1.png
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🧑‍💻Cheonilyeong

#32 feat: 스터디 추가 화면 UI 작업
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CreateStudyTopAppBar.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomIconButton.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomPropertyTab.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/DescriptionTextField.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/DetailStudyTopBar.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/LeftChatBubble.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/MembersDropDownMenu.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/StudyCreationButton.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/StudyCreationGuide.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/TitleTextField.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateStudyScreen.kt
  feature/study/src/main/res/drawable/create_study_character.png
  feature/study/src/main/res/values/strings.xml
Labels: ✨feat, 🐧pengcon

#37 feat: 문제 출제 화면 UI 작업
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/MainActivity.kt
  build-logic/src/main/java/kr/boostcamp_2024/course/build_logic/HiltAndroid.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/MyClass.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/QuestionRequestVO.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/CreateQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/component/ChatBubble.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/component/WeQuizTextField.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/CreateQuestionScreen.kt
  feature/quiz/src/main/res/drawable/img_clock_character.png
  feature/quiz/src/main/res/drawable/outline_cancel_on_surface_variant.xml
  feature/quiz/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨feat, 👩‍🌾915dbfl

#43 feat: 로그인 화면 UI 작업
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/MainActivity.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/LoginNavigation.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/LoginScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/LoginScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/component/ChatBubble.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/component/WeQuizTextField.kt
  feature/login/src/main/res/drawable/baseline_visibility_24.xml
  feature/login/src/main/res/drawable/baseline_visibility_off_24.xml
  feature/login/src/main/res/drawable/img_app_logo.png
  feature/login/src/main/res/drawable/outline_cancel_on_surface_variant.xml
  feature/login/src/main/res/values/string.xml
Labels: ✨feat, 👩‍🌾915dbfl

#35 feat: 알림 화면 UI 작업
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/NotificationItem.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/NotificationTopAppBar.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/NotificationScreen.kt
  feature/main/src/main/res/values/strings.xml
Labels: ✨feat, 🐧pengcon

#40 feat: 문제 상세 설명 UI 작업
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/ChatBubble.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionDescription.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionDetailTopAppBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionItems.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionSolution.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTitle.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/RadioTextButton.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/res/drawable/create_study_character.png
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🐧pengcon

#42 feat: 퀴즈 진행 화면 UI 작업
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/Question.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionChatBubbleRight.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionDialog.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTextBox.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTitleAndDetail.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTopBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/RoundImage.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/utils/formatTime.kt
  feature/quiz/src/main/res/drawable/quiz_system_profile.png
  feature/quiz/src/main/res/values/strings.xml
Labels: 🐛fix, ♻️refactor, ✨feat, 🎩moyeongmin

#49 refactor: 스터디 상세 화면 UI 작업
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  build-logic/src/main/java/kr/boostcamp_2024/course/build_logic/ComposeAndroid.kt
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizBaseDialog.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizImageLargeTopAppBar.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizRoundedImage.kt
  feature/quiz/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CategoryItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CreateStudyTopAppBar.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomPropertyTab.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomRoundImg.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/DetailStudyTopBar.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/GroupItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/navigation/StudyNavigation.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CategoryListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateGroupScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
  feature/study/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: 🐛fix, ✈jay200333, 🔧refactor

#51 feat: 그룹 초대 다이얼로그 UI 작업
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateGroupDialog.kt
  feature/study/src/main/res/values/strings.xml
Labels: ✨feat, ✈jay200333

#65 feat: category quiz 화면 ui 작업
  core/designsystem/src/main/res/drawable/img_error.jpg
  core/designsystem/src/main/res/drawable/img_error.xml
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Category.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Quiz.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/category/src/main/res/values/strings.xml
Labels: ✨feat, 👩‍🌾915dbfl

#67 feat: 퀴즈 시작 화면 UI 구현
  feature/main/src/main/res/drawable/sample.png
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizViewModel.kt
  feature/quiz/src/main/res/drawable/edit_24.xml
  feature/quiz/src/main/res/drawable/search_24.xml
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🧑‍💻Cheonilyeong

#74 fix: build error
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Category.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Quiz.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/MainScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizViewModel.kt
  gradle/libs.versions.toml
Labels: 🐛fix

#54 feat: 메인 화면 스터디그룹 데이터 가져오기
  .editorconfig
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/StudyGroupDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/UserDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/StudyGroup.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/StudyGroupItem.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/navigation/MainNavigation.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/MainScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/MainViewModel.kt
  feature/main/src/main/res/values/strings.xml
Labels: ♻️refactor, ✨feat, 🧑‍💻Cheonilyeong

#61 feat: 퀴즈 생성 로직 구현
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuizDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Quiz.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/QuizCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/ChatBubbleLeft.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/ProfileCircleImage.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDatePickerTextField.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDescriptionTextField.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizTitleTextField.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/CreateQuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuizViewModel.kt
Labels: ✨feat, 🧑‍💻Cheonilyeong

#80 feat: 퀴즈 시작 화면 데이터 가져오기
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/CategoryDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/CategoryRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Category.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Quiz.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/CategoryRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDatePickerTextField.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizViewModel.kt
Labels: ✨feat, 🧑‍💻Cheonilyeong

#66 feat: 카테고리 생성 UI 작업
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CreateCategoryScreen.kt
  feature/category/src/main/res/drawable/sample_profile.png
  feature/category/src/main/res/values/strings.xml
Labels: ✨feat, 🎩moyeongmin

#94 feat: Main 화면 -> Study 화면 SafeArgs 적용
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizImageLargeTopAppBar.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/StudyGroupItem.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/navigation/MainNavigation.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/MainScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/navigation/StudyNavigation.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/viewmodel/DetailStudyViewModel.kt
Labels: ✨feat, 🧑‍💻Cheonilyeong

#78 feat: 퀴즈 문제 생성 api 작업
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuizDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizTextField.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/QuestionCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/CreateQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/CreateChoiceItems.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/CreateQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/component/ChatBubble.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/component/WeQuizTextField.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/CreateQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuestionViewModel.kt
Labels: ✨feat, 👩‍🌾915dbfl

#96 feat: 카레고리 퀴즈 화면 API 작업 + quiz 화면에 safeArgs 전달
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizLoadingIndicator.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/navigation/CategoryNavigation.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewModel/CategoryViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizViewModel.kt
Labels: ✨feat, 👩‍🌾915dbfl

#76 feat: 스터디 추가 화면 UI 로직 작업
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/StudyGroupCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserRepository.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/CreateStudyViewModel.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/MembersDropDownMenu.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/StudyCreationButton.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/StudyCreationGuide.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateStudyScreen.kt
Labels: ✨feat, 🐧pengcon, 🔧refactor

#93 feat: 문제 상세 정보 가져오기(API)
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Question.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/ChatBubble.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionDescription.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionItems.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionSolution.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTitle.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/RadioTextButton.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionDetailViewModel.kt
Labels: ✨feat, 🐧pengcon

#87 feat: 알림 화면 api 연동
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/NotificationDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/AuthRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/NotificationRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Notification.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/NotificationWithGroupInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/AuthRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/NotificationRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserRepository.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/NotificationItem.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/NotificationScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/NotificationViewModel.kt
Labels: ✨feat, 🐧pengcon

#103 feat: 그룹 초대하기(API)
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/NotificationRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/NotificationRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserRepository.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateGroupDialog.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/viewmodel/DetailStudyViewModel.kt
  feature/study/src/main/res/values/strings.xml
Labels: ✨feat, ✈jay200333

#107 feat: 카테고리 생성 api 연동
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/CategoryRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/CategoryRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/navigation/CategoryNavigation.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CreateCategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewmodel/CreateCategoryViewModel.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomPropertyTab.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/navigation/StudyNavigation.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CategoryListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
Labels: ✨feat, 👩‍🌾915dbfl

#97 feat: 그룹원 제거하기(API)
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserRepository.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/StudyGroupItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/GroupItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/viewmodel/DetailStudyViewModel.kt
  feature/study/src/main/res/values/strings.xml
Labels: ✨feat, ✈jay200333

#86 feat: 퀴즈 진행 화면 API
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserOmrRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserOmrRepository.kt
  feature/category/src/main/res/drawable/sample_profile1.png
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/Question.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionChatBubbleRight.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionDialog.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTextBox.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTitleAndDetail.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTopBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/RoundImage.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/utils/TimerFormat.kt
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🎩moyeongmin

#110 feat: Quiz 결과 화면 -> Question 상세 화면 SafeArgs 전달
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizResultScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionDetailViewModel.kt
Labels: ✨feat, 🧑‍💻Cheonilyeong

#112 refactor: badge count
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CategoryItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CategoryListScreen.kt
Labels: ✈jay200333, 🔧refactor

#115 feat: 퀴즈 카테고리 추가 api 작업
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/CategoryRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/CategoryRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/navigation/CategoryNavigation.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuizViewModel.kt
Labels: ✨feat, 👩‍🌾915dbfl

#114 feat: main currentUser 적용
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/LoginViewModel.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/MainScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/MainViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDatePickerTextField.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/CreateStudyViewModel.kt
Labels: ✨feat, 🧑‍💻Cheonilyeong

#100 feat: Category 화면 -> Quiz 생성 화면 SafeArgs 전달
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/CategoryRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/CategoryRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/CreateQuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuizViewModel.kt
Labels: ✨feat, 🧑‍💻Cheonilyeong

#117 feat: 퀴즈 진행 화면 -> 퀴즈 결과 SafeArgs 전달
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserOmrRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/UserOmrCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserOmrRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizResultViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateGroupDialog.kt
  feature/study/src/main/res/drawable/member_invite_character.png
  feature/study/src/main/res/drawable/waterfall.jpg
Labels: ✨feat, 🧑‍💻Cheonilyeong

#119 refactor: 1차 qa 반영
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/LoginScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/GroupItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
Labels: ♻️refactor, ✨feat

#123 feat: 회원가입 UI 작업
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizTextField.kt
  core/designsystem/src/main/res/drawable/img_photo_picker.xml
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/UserCreationInfo.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/LoginNavigation.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/LoginNavigation.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/LoginScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/SignUpScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/LoginViewModel.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/SignUpViewModel.kt
  feature/login/src/main/res/values/string.xml
Labels: ✨feat, 👩‍🌾915dbfl

#128 feat: 퀴즈 수정 삭제 기능 구현
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuizDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/CategoryRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserOmrRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Quiz.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/QuizCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/CategoryRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserOmrRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewModel/CategoryViewModel.kt
  feature/category/src/main/res/values/strings.xml
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizTopAppBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/CreateQuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuizViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizViewModel.kt
  feature/quiz/src/main/res/drawable/image_guide.xml
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🐧pengcon

#127 feat: 회원가입 / 로그인 기능 구현 + 자동 로그인
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/UserCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserRepository.kt
  feature/login/build.gradle.kts
  feature/login/src/main/java/kr/boostcamp_2024/course/login/model/UserUiModel.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/CustomNavType.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/LoginNavigation.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/LoginScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/SignUpScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/LoginViewModel.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/SignUpViewModel.kt
  feature/login/src/main/res/drawable/img_google_light_btn_login.xml
  feature/login/src/main/res/values/string.xml
  gradle/libs.versions.toml
Labels: ✨feat, 👩‍🌾915dbfl

#131 feat: 카테고리 생성 이미지 추가, 카테고리 수정 / 삭제
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/CategoryRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/CategoryRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/component/CategorySettingMenu.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/navigation/CategoryNavigation.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CreateCategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewModel/CategoryViewModel.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewmodel/CreateCategoryViewModel.kt
  feature/category/src/main/res/drawable/default_profile_image.xml
  feature/category/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CategoryItem.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomPropertyTab.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/navigation/StudyNavigation.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CategoryListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/DetailStudyScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/GroupListScreen.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/viewmodel/DetailStudyViewModel.kt
Labels: 🐛fix, ♻️refactor, ✨feat, 🎩moyeongmin

#134 feat: 퀴즈 타입 추상화 작업
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuizDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/RealTimeQuizDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/enum/QuizType.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Quiz.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/RealtimeQuiz.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewModel/CategoryViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizTopAppBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuizViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizViewModel.kt
Labels: ♻️refactor, ✨feat, 🐧pengcon, 👩‍🌾915dbfl

#130 feat: 메인 화면 유저 정보 수정, 메인 화면 UI 수정
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/AuthRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/UserRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/UserSubmitInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/AuthRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/UserRepository.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/CustomNavType.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/LoginNavigation.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/SignUpScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/LoginViewModel.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/SignUpViewModel.kt
  feature/login/src/main/res/values/string.xml
  feature/login/src/main/res/values/strings.xml
  feature/main/build.gradle.kts
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/MainDropDownMenu.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/navigation/MainNavigation.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/MainScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/MainViewModel.kt
  feature/main/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/viewmodel/DetailStudyViewModel.kt
Labels: ♻️refactor, ✨feat, 👩‍🌾915dbfl, ✈jay200333

#137 feat: 퀴즈 시작 화면 실시간 반영
  app/src/main/java/kr/boostcamp_2024/course/wequiz/ui/WeQuizNavHost.kt
  core/data/build.gradle.kts
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/RealTimeQuizDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/domain/build.gradle.kts
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/RealtimeQuiz.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CreateCategoryScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDataButton.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDataChip.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDataText.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizTopAppBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/CreateStudyViewModel.kt
  gradle/libs.versions.toml
Labels: ✨feat, 🧑‍💻Cheonilyeong

#138 feat: 실시간 퀴즈 생성
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuizDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizTopAppBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/CreateQuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuizViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🎩moyeongmin

#141 feat: 실시간 퀴즈 관리자 기능 구현
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizBaseDialog.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Question.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizOwnerDialog.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/RealTimeQuestion.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/GeneralQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/OwnerQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/UserQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/viewmodel/UserQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/OwnerQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizResultViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/UserQuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
Labels: ♻️refactor, ✨feat, 👩‍🌾915dbfl

#140 feat: 실시간 퀴즈 진행 화면 로직 구현
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/QuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizBaseDialog.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Question.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizOwnerDialog.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/RealTimeQuestion.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/UserQuestion.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/navigation/QuizNavigation.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/GeneralQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/OwnerQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/UserQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/OwnerQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizResultViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/UserQuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨feat, 🐧pengcon, 👩‍🌾915dbfl

#154 feat: 퀴즈 결과 화면 실시간 적용
  build-logic/settings.gradle.kts
  build-logic/src/main/java/convention.android.feature.gradle.kts
  feature/quiz/build.gradle.kts
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/PieChartScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/GeneralQuizResultScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/OwnerQuizResultScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizResultScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizStatisticsDialog.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionDetailViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizResultViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨feat, ✈jay200333

#157 feat: (낱말 맞추기) 문제 출제 화면 및 기능 구현
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionContentUi.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/CreateBlankQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/CreateQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/CreateQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizResultViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🐧pengcon

#156 feat: ai 문제 출제
  .github/workflows/ktlint and build.yml
  core/data/build.gradle.kts
  core/data/src/main/java/kr/boostcamp_2024/course/data/di/AddHeadInterceptor.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/di/AppModule.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/di/RepositoryModule.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/AiQuestionRequest.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/AiQuestionResponse.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/network/AiService.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/AiRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/AiQuestion.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/AiRepository.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/MainViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizAiDialog.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/CreateQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuestionViewModel.kt
  feature/quiz/src/main/res/drawable/image_ai.xml
  feature/quiz/src/main/res/drawable/quiz_create_ai_profile.png
  feature/quiz/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨feat, 🧑‍💻Cheonilyeong, ✈jay200333, 🎩moyeongmin

#160 feat: (낱말 맞추기) 문제 상세 설명 UI 및 기능 구현
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/BlankQuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/domain/build.gradle.kts
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/enum/BlankContentType.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/BlankQuestion.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/BlankQuestionManager.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/ChoiceQuestion.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/QuizResult.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/UserOmrCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  core/domain/src/test/java/BlankQuestionQuizWithAnswerTest.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionContentUi.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionDescription.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/ChoiceQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionConent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTextBox.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTitleAndDetail.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/GeneralQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/OwnerQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/UserQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/OwnerQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizResultViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/UserQuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🐧pengcon

#155 feat: (낱말 맞추기) UI 페어 프로그래밍
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/BlankQuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/ChoiceQuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/UserOmrDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/domain/build.gradle.kts
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/enum/BlankContentType.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/enum/QuestionType.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/BlankQuestion.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/BlankQuestionCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/BlankQuestionManager.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/ChoiceQuestion.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/ChoiceQuestionCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/Question.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/QuizResult.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/UserOmr.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/UserOmrCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  core/domain/src/test/java/BlankQuestionQuizWithAnswerTest.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionContentUi.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionDescription.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/ChoiceQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/CreateBlankQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/CreateQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionConent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTextBox.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuestionTitleAndDetail.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/CreateQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/GeneralQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/OwnerQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/UserQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/GeneralQuizResultScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/OwnerQuizResultScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/quiz/QuizResultScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/OwnerQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionDetailViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuizResultViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/UserQuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
Labels: ✨feat, 🐧pengcon, 👩‍🌾915dbfl

#164 fix: 퀴즈 생성 오류 해결
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDatePickerTextField.kt
Labels: 🐛fix, 🐧pengcon

#161 fix: 카테고리 생성 / 수정 오류 해결
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CreateCategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewmodel/CreateCategoryViewModel.kt
Labels: 🐛fix, ♻️refactor, 👩‍🌾915dbfl

#163 fix: 퀴즈 진행 화면, 그룹원, 유저 생성 화면
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/CustomNavType.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/LoginNavigation.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/SignUpScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/SignUpViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/GeneralQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/UserQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/UserQuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/viewmodel/DetailStudyViewModel.kt
Labels: 🐛fix, ♻️refactor, 🧑‍💻Cheonilyeong

#166 fix: 알림 화면, 퀴즈 시작 화면
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/NotificationWithGroupInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/NotificationItem.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/NotificationScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/NotificationViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDataButton.kt
Labels: 🐛fix, ✈jay200333

#165 fix: 스터디 생성 / 퀴즈 결과
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/PieChartScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/CreateStudyViewModel.kt
Labels: 🐛fix, ✨feat, 🎩moyeongmin

#167 fix: 2차 MVP QA 수정
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuestionRepositoryImpl.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/StudyGroupRepositoryImpl.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/NotificationWithGroupInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuestionRepository.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/StudyGroupRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CreateCategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewmodel/CreateCategoryViewModel.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/CustomNavType.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/navigation/LoginNavigation.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/presentation/SignUpScreen.kt
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/SignUpViewModel.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/component/NotificationItem.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/NotificationScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/NotificationViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/Question.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDataButton.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDatePickerTextField.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/GeneralQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/OwnerQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/PieChartScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/UserQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/UserQuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
  feature/study/src/main/java/kr/boostcamp_2024/course/study/CreateStudyViewModel.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/viewmodel/DetailStudyViewModel.kt
Labels: 🐛fix, 🐧pengcon, 👩‍🌾915dbfl, 🧑‍💻Cheonilyeong, ✈jay200333, 🎩moyeongmin

#170 fix: 3차 MVP QA 수정
  app/build.gradle.kts
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/ic_launcher_background.xml
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/AiQuestionRequest.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/BlankQuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/ChoiceQuestionDTO.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/repository/QuizRepositoryImpl.kt
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/java/kr/boostcamp_2024/course/designsystem/ui/theme/component/WeQuizPhotoPicker.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/ChoiceQuestionCreationInfo.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/model/QuizResult.kt
  core/domain/src/main/java/kr/boostcamp_2024/course/domain/repository/QuizRepository.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/presentation/CreateCategoryScreen.kt
  feature/category/src/main/java/kr/boostcamp_2024/course/category/viewmodel/CreateCategoryViewModel.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/presentation/MainScreen.kt
  feature/main/src/main/java/kr/boostcamp_2024/course/main/viewmodel/MainViewModel.kt
  feature/quiz/build.gradle.kts
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionContent.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/BlankQuestionContentUi.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDataButton.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizTopAppBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/AiLoadingIndicator.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/CreateQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/OwnerQuestionScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/QuestionDetailScreen.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuizViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/OwnerQuestionViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionDetailViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/QuestionViewModel.kt
  feature/quiz/src/main/res/raw/anim_ai.json
  feature/study/src/main/java/kr/boostcamp_2024/course/study/CreateStudyViewModel.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/component/CustomIconButton.kt
  feature/study/src/main/java/kr/boostcamp_2024/course/study/presentation/CreateStudyScreen.kt
  gradle/libs.versions.toml
Labels: 🐛fix, 🐧pengcon, 👩‍🌾915dbfl, 🧑‍💻Cheonilyeong, ✈jay200333, 🎩moyeongmin

#171 fix: 3차 MVP QA 2차 수정
  app/build.gradle.kts
  feature/login/src/main/java/kr/boostcamp_2024/course/login/viewmodel/SignUpViewModel.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizDataButton.kt
Labels: 🐛fix, 🐧pengcon, 👩‍🌾915dbfl, 🧑‍💻Cheonilyeong, ✈jay200333, 🎩moyeongmin

#172 fix: AI 문제 출제 보기 4개로 고정
  app/build.gradle.kts
  core/data/src/main/java/kr/boostcamp_2024/course/data/di/AppModule.kt
  core/data/src/main/java/kr/boostcamp_2024/course/data/model/AiQuestionRequest.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/component/QuizTopAppBar.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/presentation/question/AiLoadingIndicator.kt
  feature/quiz/src/main/java/kr/boostcamp_2024/course/quiz/viewmodel/CreateQuestionViewModel.kt
  feature/quiz/src/main/res/values/strings.xml
Labels: 🐛fix, ✈jay200333
